.AuthPage {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background: url("../Images/Auth/Auth.png"); 
    background-size: cover; 
}

.container4 {
    display: block;
    width: 100wh;
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;
}
