

.modal {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 700px;
    background-color:#131313;
    border-color: #D58C51;
    border-width: 2px;
    border-radius: 30px;
    border-style: solid;
    color: whitesmoke;
}

.modal-header {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #D58C51;
    border-bottom: 1px solid #D58C51;
}

.modal-footer {
    padding:5px;
    color:#D58C51;
}