h1 {
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color:white;   
    margin: 53px 0px 38px 0px;
    font-stretch: extra-expanded;
}

.basketHeader {
    position: relative;
    margin: 0;
} 

.button_back {
    position:absolute;
    top: 4px;
    left: 296px;
    border-width: 0;
    background: url("../Images/Basket/icon__back.svg");
    width: 32px;
    height: 32px;
    cursor:pointer;
}