.SubmitButton {
    width: 200px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    background-color: #D58C51;
    text-align: center;
    border-width: 0;
    cursor: pointer;
}

.SubmitButton-markup{
    text-align: center;
}

.SubmitButton:active {
    animation: color-change 0.3s 1;
}

@keyframes color-change {
    0% {    background-color:#D58C51;
            color:#131313; }
    50% {   background-color:#131313;
            color:#D58C51; }
    100% {  background-color: #D58C51; 
            color:#131313; }
}