.WindowsTitle {
    margin-top: 13px;
    margin-bottom: 39px;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
    text-align: center;
}